{% extends "OryzoneBoilerplateBundle::html5.html.twig" %}

{% block head_title %}Annonces gratuites Cote d'ivoire{% endblock %}
{% block body_container_header %}<h1>Annonces gratuites Cote d'ivoire</h1>{% endblock %}
{% block body_container_footer %}Informations Copyright{% endblock %}
