<h3>Nous avons bien reçu votre annonce {{ad.title}}.</h3>
<h4>Un email de confirmation vient de vous être envoyé</h4>
<h5>Après vérification de son contenu par notre équipe éditoriale, elle sera mise en ligne dans un délai de 12 heures maximum.</h5>

<a href="{{ path('ad_add') }}">Déposer une nouvelle annonce</a>

<div>Bon à savoir:</div>
<ul>
	<li>Une fois votre annonce confirmée, elle sera validée par notre équipe éditoriale et mise en ligne dans un délai de 24 heures maximum.</li>
    <li>En cas de refus de votre annonce par l'équipe éditoriale, vous recevrez un email vous expliquant les motifs du refus.</li>
    <li>Si vous ne recevez pas l'email de confirmation, 2 options:</li>
    <li>- l'adresse email indiquée n'est pas valide</li>
    <li>- l'email a été bloqué par votre filtre antispam. Dans ce dernier cas, pas besoin de ressaisir votre annonce, il vous suffit de retrouver l'email dans votre boîte de réception anti-spam.</li>
</ul>
