{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Confirmation publication de l'annonce{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<div id="add_success">
		<h3><span class="s_secondary_color">Nous avons bien reçu votre annonce: </span>{{ad.title}}.</h3>
		<h4>Un email de confirmation vient de vous être envoyé.<br/ >
		Après vérification de son contenu par notre équipe éditoriale, elle sera mise en ligne dans un délai de 12 heures maximum.</h4>

		<a href="{{ path('ad_add') }}">Déposer une nouvelle annonce</a>

		<br/>

		<ul class="s_to_know">
			Bon à savoir:
			<li>Une fois votre annonce confirmée, elle sera validée par notre équipe éditoriale et mise en ligne dans un délai de 12 heures maximum.</li>
		    <li>En cas de refus de votre annonce par l'équipe éditoriale, vous recevrez un email vous expliquant les motifs du refus.</li>
		    <li>Si vous ne recevez pas l'email de confirmation, 2 options:</li>
		    	<ul class="s_reason_no_confirmation_email"><li>l'adresse email indiquée n'est pas valide</li>
		    		<li>l'email a été bloqué par votre filtre antispam. Dans ce dernier cas, pas besoin de ressaisir votre annonce, il vous suffit de retrouver l'email dans votre boîte de réception anti-spam.</li>
		    	</ul>
		</ul>
	</div>
</div>
{% endblock %}
