{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Confirmation suppression de l'annonce{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Confirmation annonce<span class="s_secondary_color"> supprimée</span></h2>
	<h4>Un email de confirmation vient de vous être envoyé.<br/ >
	</h4>
	<a href="{{ path('ad_list') }}">Retour à l'accueil</a>
</div>
{% endblock %}
