{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block body_container_main %}
Un email contenant votre nouveau mot de passe a été envoyé dans votre boite electronique.
<a href="{{ path('ad_list') }}">Retour à l'accueil</a>
{% endblock %}