{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Mot de passe envoyé{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Mot de passe<span class="s_secondary_color"> envoyée</span></h2>
	<h4>Un email contenant votre nouveau mot de passe a été envoyé dans votre boite electronique.</h4>
	Vous pouvez gérer votre annonce ici : 
   	<a href=
	{% if ad.idAdType == 1 %} 
  		"{{ path('ad_show_offers', {'idAd': ad.id, 'slugCategory': ad.slugCategory,'slugAd': ad.slugAd}) }}" 
  	{% else %}
  	    "{{ path('ad_show_demands', {'idAd': ad.id, 'slugCategory': ad.slugCategory,'slugAd': ad.slugAd}) }}" 
  	{% endif %}
  	>{{ad.title}}.
    </a>
    <br/>
    <br/>
	<a href="{{ path('ad_list') }}">Retour à l'accueil</a>
</div>
{% endblock %}