{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block body_container_main %}
<h3>Mot de passe oublié </h3>

<form action="{{ path('password_forgot', {'idAd': ad.id}) }}" method="post" }}>

	{{ form_errors(form) }}
	{{ form_row(form.user_email) }}
	{{ form_rest(form) }}
	
	<input type="submit" value="Envoyer"/>
</form>

{% endblock %}