div.ic_myCarousel {
	clear:right;
}

.ic_myCarousel .ic_button {
	float: left;
	height: 37px;
	line-height: 25px;
	margin: 8px 4px 0 2px;
	width: 140px;
	height: 100px;
	border: 2px solid #eee;
	background: #ddd;
}

.infiniteCarousel {
	margin: 0 auto !important;
}

.infiniteCarousel_item img{
	width: 320px;
	height: 300px;
}

.ic_wrapper {
	width: 450px !important;
}

.ic_myCarousel .ic_active {
	background: #fff;
	border: 2px solid #800;
}

.ic_peek_padding {
	padding: 0;
}