{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Conditions générales de vente{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Conditions générales<span class="s_secondary_color"> de vente</span></h2>
En accédant à ce site, vous vous engagez à prendre connaissance de nos conditions et à vous tenir informé de toute modification ou ajout. Si vous n'êtes pas en accord avec ces conditions, vous ne devez en aucun cas faire usage de ce site.

Pour information, on désigne par "Utilisateur", "vous" : tout internaute utilisant le site www.auportdadjame.com.
    <ul class="s_site_info">
        <li>Licence<br/>
        Ce site contient des informations, images et autres matériaux qui sont la propriété de www.auportdadjame.com et/ou des utilisateurs de ce site. Soumis à ces conditions, vous pouvez consulter et soumettre de l'information mise à la disposition des utilisateurs par les utilisateurs de ce site, mais pour votre protection et la protection des autres utilisateurs de www.auportdadjame.com, vous ne pouvez pas reproduire tout ou partie de ce site, sur un autre serveur ou dans un autre lieu ou redistribuer ou divulguer toute information obtenue sur ce site à un tiers (qu'il s'agisse d'un site internet ou autre).
        Vous ne pouvez vendre, modifier ou produire des travaux dérivés de l'information obtenue sur ce site, ou altérer ou supprimer tout copyright ou référence à du matériel protégé. www.auportdadjame.com se réserve tous droits non expressément notifiés dans ce paragraphe. En plaçant de l'information sur ce site, vous donnez à www.auportdadjame.com la licence irrévocable, universelle, libre de droits, de reproduire, modifier, distribuer, afficher ou représenter publiquement, et de créer des travaux dérivés à partir de cette information pour utilisation sur ce site, et de redistribuer cette information à un tiers dans le cadre du développement et de la maintenance de ce site. Vous pouvez modifier ou supprimer toute information placée sur ce site à tout moment.
        </li>
        <li>
        La communauté auportdadjame.com<br/>
        www.auportdadjame.com est un lieu dans lequel les utilisateurs peuvent échanger de l'information. www.auportdadjame.com ne fournit ni ne vend l'information et les produits ou services décrits dans les annonces de notre site. www.auportdadjame.com ne peut contrôler la qualité, véracité, sincérité ou légalité de toute l'information, produits ou services placés sur notre site et en conséquence il est envisageable que vous soyez confronté à certains contenus choquants, indécents ou répréhensibles. Vous êtes conscient que vous, et non www.auportdadjame.com, êtes entièrement responsable pour toute information placée par vous sur notre site et vous engagez à respecter les lois et régulations applicables. Vous pouvez placer de l'information dans la limite de vos droits légaux.
        </li>
        <li>
        Activités interdites<br/>
        Afin de maintenir un service de qualité répondant aux besoins de www.auportdadjame.com, il est nécessaire d'établir les règles suivantes afin de nous protéger des abus. L'utilisation de ce site interdit de placer une annonce ou de transmettre un message :
        <br/>- sous une adresse mail ou identifiant contenant les informations personnelles d'un individu ne souhaitant pas qu'elles apparaissent sur ce site
        <br/>- qui soit faux, diffamatoire, profane, haineux, abusif, pornographique, obscène ou de toute autre nature inappropriée (et laissé à notre seule discrétion)
        <br/>- d'une manière illégale ou qui encourage la violence ou toute conduite criminelle
        <br/>- qui dévoile des éléments de nature privée ou viole la vie privée d'une personne ou sa publicité (inclus la publication de visages ou de signatures)
        <br/>- qui re-publie de l'information placée par un autre utilisateur
        <br/>- qui contient un virus ou tout autre agent contaminant ou destructeur ou qui empêche le bon fonctionnement de ce site ou l'accès à ce site par nos utilisateurs
        <br/>- qui prenne l'identité de tout employé de www.auportdadjame.com
        <br/>- qui encourage les autres à violer les conditions d'utilisation de www.auportdadjame.com
        <br/>- qui contrevienne aux droits de propriété physique ou intellectuelle d'un tiers
        <br/>ou
        <br/>- qui vende de l'information, des produits ou des services dont la vente, la distribution ou la divulgation est sujette à régulations. Vous ne pouvez placer une annonce ou transmettre un message sur ce site dont le but est de vendre des objets contrefaits, de la drogue (interdite ou sur ordonnance), tout type de médicament, des armes à feu ou armes blanches (hors objets de collection), des organes ou parties de corps humain, des billets de loterie, du tabac, tout type de produit dangereux ou des listes d'adresses (postales ou électroniques).
        <br/>- Tout service lié au jeu, à la prostitution ou activités sexuelles en général est strictement interdit sur www.auportdadjame.com.
        <br/>L'équipe www.auportdadjame.com rappelle que l'ensemble des agissements sus-visés constituent des infractions définies et réprimées par le code pénal français, dont la violation pourrait vous engager à des poursuites ou sanctions judiciaires, l'Equipe www.auportdadjame.com ne pouvant être tenue responsable du contenu de vos messages.
        </li>
    <ul>
</div>
{% endblock %}