{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Informations légales sur les annonces{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Informations<span class="s_secondary_color"> légales</span></h2>
www.auportdadjame.com est un site internet d'annonces dédiées à la Cote d'ivoire. On y retrouve plusieurs catégories (immobilier, emploi, services,...).
Tout accès, consultation, et utilisation du site doit être précédé d'une acceptation sans réserve des conditions générales d'utilisation disponible sur le site.
<br/>
<br/>
Conformément aux dispositions des articles 6-III et 19 de la loi pour la Confiance dans l'économie Numérique, www.aupordadjame.com vous informe que :

    <ul class="s_site_info">
    	<li>Le présent site web est édité par
    		L'equipe Auportdadjame.com située à Nanterre France.
    		Pour nous contacter, merci de remplir ce formulaire.<br/>
    		Tél. : +0 33 6 25 51 08 56
    		Contact. : contact@auportdadjame.com
    	</li>
    	<li>
    		Le directeur de la publication du site web www.auportdadjame.com est l'équipe Auportdadjame.com.
		</li>
		<li>Le site est hébergé par : 
		OVH, SAS au capital de 500 k€ RCS Roubaix-Tourcoing 424 761 419 00011 (siège social 140 Quai du Sartel, 59100 Roubaix, France, http://www.ovh.com).
    	</li>
    </ul>
</div>
{% endblock %}