{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Règles de fonctionnement{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Règles de<span class="s_secondary_color"> fonctionnement</span></h2>
Afin de servir au mieux la communauté www.auportdadjame.com dans la limite de nos moyens limités, nous établissons ici les règles générales de fonctionnement de notre site. Ces règles peuvent inclure la limitation de la taille des messages, la durée de publication des annonces ainsi que toute activité annexe. Vous êtes conscient qu'il est de votre responsabilité d'archiver toute information que vous pourriez transmettre à ce site. www.auportdadjame.com n'est en aucun cas responsable de toute suppression d'information ou de l'incapacité à stocker cette information. Si vous pensez que l'une de ces règles va à l'encontre de l'intérêt de la communauté, n'hésitez pas à nous en faire part.
    <ul class="s_site_info">
    <li>Liens<br/>
    Tout contenu placé sur www.auportdadjame.com peut contenir des liens vers des sites ou informations étrangers à www.auportdadjame.com. www.auportdadjame.com se réserve néanmoins le droit de supprimer des liens ou de les bloquer dans certaines rubriques. www.auportdadjame.com ne vérifie ou n'exerce aucun contrôle sur de tels sites ou informations étrangers à www.auportdadjame.com, ne cautionne de tels sites ou informations étrangères à www.auportdadjame.com, et ne peut en aucun cas être rendu responsable de toute information, produits ou services contenus dans ces sites étrangers.
    </li>
    <li>Spam<br/>
    www.auportdadjame.com n'autorise ni ne tolère aucune communication non sollicitée par les utilisateurs de notre site, incluant mais non limité aux activités suivantes : démarchage, sollicitation publicitaire, courriel non sollicité, "junk mail", "chaînes" ou "organisations pyramidales". Si vous avez le sentiment d'avoir reçu des communications non sollicitées suite à votre utilisation de www.auportdadjame.com, contactez-nous.
    </li>
    <li>Retrait de contenu<br/>
    www.auportdadjame.com a le droit mais non l'obligation, de refuser, de déplacer ou de retirer du site tout contenu jugé non conforme aux buts et à l'esprit de sa charte. Nous pouvons vous suspendre ou vous interdire l'accès au site si nous considérons que vos actions dérangent l'activité de tout autre utilisateur du site ou puisse engager la responsabilité de www.auportdadjame.com ou de tout autre utilisateur de ce site.
    </li>
    <li>Majorité<br/>
    Vous devez être âgé de 16 ans ou plus pour utiliser ce site et en utilisant ce site, vous certifiez avoir 16ans ou plus.
    </li>
    <li>Doublons d'annonce<br/>
    Vous ne pouvez pas placer des annonces dont le contenu est similaire ou proche (plusieurs annonces pour la vente d'un même article, pour un même service, etc.).
    </li>
    </ul>
</div>
{% endblock %}