{% extends 'LeDjassaAdsBundle::layout.html.twig' %}
{% block head_title %}Qui sommes nous ?{% endblock %}
{% block head_meta_site_info %}
  <meta content="noindex,follow" name="robots">
{% endblock %}
{% block body_container_pre_intro %}
	<div class="s_border"></div>
{% endblock %}
{% block body_container_main %}
<div id="content" class="container_16">
	<h2>Qui<span class="s_secondary_color"> sommes nous</span></h2>
www.auportdadjame.com est un site d’annonces dédiées à la Cote d’ivoire! Le but est de permettre aux ivoiriens de réaliser de bonnes affaires en utilisant l’outil numérique. <br/>
L’équipe Auportdadjame.com c’est également un état d’esprit et une volonté de promouvoir l’utilisation de l’outil internet à travers la Cote d’ivoire et l’Afrique. <br/>

Contact :
<ul class="s_site_info">
  <li> <a href ="https://www.facebook.com/auportdadjame" target="_blank">Facebook</a>
  </li> 
  <li> <a href ="https://twitter.com/auportdadjame" target="_blank">Twitter</a>
  </li>
   <li> contact@auportdadjame.com
   </li>
</ul>
</div>
{% endblock %}
